# Ignore csv files
.csv

# Ignore pickle files
.pickle

# Ignore all log files
*.log

# Ignore photos folder
photos

# Ignore data folder
data

#Ignore ipynb checkpoints
.ipynb_checkpoints

#Ignore __pycache__ folder
__pycache__
